@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@import url("https://fonts.googleapis.com/css?family=Spicy+Rice");

body {
  background-color: #333;
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
}
.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
  font-family: "Spicy Rice", cursive;
}

/* 
* HOME
* SECTION 
*/

#home-section {
  background: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
}

#home-section .home-inner {
  padding-top: 100px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas,
#create-section .fas {
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

/* 
* EXPLORE
* SECTION 
*/

#explore-section .fas,
#share-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
